@{
    ViewBag.Title = "Change Password Successful";
}
<div class="box grid_12">
  <header>
        <div class="inner">
            <div class="left title">
                <h1>
                   Password Changed Successfully</h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>
<div class="alert green">
    <p>
        <strong>Your password has been changed successfully. Now you can login with new password </strong>
    </p>
    <a href="#" class="close">close</a>
</div>
</div>